<?xml version="1.0" ?>
<config>
    <global>
        <blocks>
            <magenifieddebugging_base>
                <class>Magenifieddebugging_Base_Block</class>
            </magenifieddebugging_base>
        </blocks>
        <models>
            <magenifieddebugging_base>
                <class>Magenifieddebugging_Base_Model</class>
            </magenifieddebugging_base>
        </models>
        <helpers>
            <magenifieddebugging_base>
                <class>Magenifieddebugging_Base_Helper</class>
            </magenifieddebugging_base>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <display_debugging_forms>
                        <class>magenifieddebugging_base/observer</class>
                        <method>displayDebuggingForms</method>
                    </display_debugging_forms>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <layout>
            <updates>
                <magenifieddebugging_base>
                    <file>magemagenified/debugging/main.xml</file>
                </magenifieddebugging_base>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mm_debugging>
                                            <title>MageMagenified Debugger - All</title>
                                        </mm_debugging>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <mm_debugging>
            <debugging>
                <is_debugging_enabled>1</is_debugging_enabled>
            </debugging>
        </mm_debugging>
    </default>
</config>