<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Manger_Customgift>
            <version>2</version>
        </Manger_Customgift>
    </modules>
    <global>
        <models>
            <customgift>
                <class>Manger_Customgift_Model</class>
            </customgift>
            <customgift_factory>
                <class>Manger_Customgift_Factory</class>
            </customgift_factory>
        </models>
        <resources>
            <customgift_setup>
                <setup>
                    <module>Manger_Customgift</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </customgift_setup>
            <customgift_sales_setup>
                <setup>
                    <module>Manger_Customgift</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </customgift_sales_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <is_customgift_product>
                    <to_order_item>*</to_order_item>
                </is_customgift_product>
            </sales_convert_quote_item>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <customgift>
                        <class>customgift/total_quote_address_awardfreeproduct</class>
                        <before>grand_total</before>
                        <after>tax</after>
                    </customgift>
                </totals>
            </quote>
        </sales>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <manger_add_free_item_to_quote>
                        <class>customgift/observer_freeitem</class>
                        <method>addFreeItemToQuote</method>
                    </manger_add_free_item_to_quote>
                </observers>
            </sales_quote_collect_totals_after>
            <salesrule_validator_process>
                <observers>
                    <disable_magento_default_discount_for_freeproducts>
                        <class>customgift/observer_freeitem</class>
                        <method>disableMagentoDefaultDiscountForFreeproducts</method>
                    </disable_magento_default_discount_for_freeproducts>
                </observers>
            </salesrule_validator_process>
            <checkout_cart_update_items_before>
                <observers>
                    <disallow_freeproduct_quantities_tobeupdated>
                        <class>customgift/observer_freeitem</class>
                        <method>disallowFreeproductQuantitiesTobeUpdated</method>
                    </disallow_freeproduct_quantities_tobeupdated>
                </observers>
            </checkout_cart_update_items_before>
            <sales_quote_remove_item>
                <observers>
                    <notify_user_that_notallowed_todelete_freecustomgift>
                        <class>customgift/observer_freeitem</class>
                        <method>notifyUserNotAllowedTodeleteFreecustomgift</method>
                    </notify_user_that_notallowed_todelete_freecustomgift>
                </observers>
            </sales_quote_remove_item>
        </events>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <add_freeproducts_field_to_promotab>
                        <class>customgift/observer_promoedittab</class>
                        <method>editShoppingCartPriceRulesActionTab</method>
                    </add_freeproducts_field_to_promotab>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
        </events>
    </adminhtml>
</config>