<?xml version="1.0" ?>
<config>
    <modules>
        <Manger_Apartment>
            <version>1</version>
        </Manger_Apartment>
    </modules>
    <global>
        <models>
            <apartment>
                <class>Manger_Apartment_Model</class>
                <resourceModel>apartment_resource</resourceModel>
            </apartment>
            <apartment_resource>
                <class>Manger_Apartment_Model_Resource</class>
                <entities>
                    <apartment>
                        <table>apartment</table>
                    </apartment>
                </entities>
            </apartment_resource>
            <apartment_service>
                <class>Manger_Apartment_Service</class>
            </apartment_service>
            <apartment_form>
                <class>Manger_Apartment_Form</class>
            </apartment_form>
        </models>
        <resources>
            <apartment_setup>
                <setup>
                    <module>Manger_Apartment</module>
                </setup>
            </apartment_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <apartment>
                <use>standard</use>
                <args>
                    <module>Manger_Apartment</module>
                    <frontName>apartment</frontName>
                </args>
            </apartment>
        </routers>
        <layout>
            <updates>
                <apartment>
                    <file>apartment.xml</file>
                </apartment>
            </updates>
        </layout>
    </frontend>
</config>